body .content {
    background-image: url(/images/home-background2.png); 
    background-repeat: no-repeat;
    background-size: cover; 
}

div.heading-section {
    min-height: 400px;
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-top: 40px;
}

h1.heading {
    font-size: 2.6em;
    text-align: center;
    font-weight: bold;
    transition-duration: 1s;
}

h1.heading:hover {
    transform: scale(1.2);
}

.wisdom {
    font-size: 30px;
    width: 500px;
    margin-left: auto;
    margin-right: 20px;
    text-align: right;
}

.wisdom span {
    display: block;
    font-weight: bold;
}

.wisdom .second {
    position: relative;
    bottom: 15px;
}
