@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face {
    font-family: 'ChampagneLimousines';
    src: url('/fonts/champagne_limousines-webfont.woff') format('woff');
}

@font-face {
    font-family: 'ChampagneLimousines';
    src: url('/fonts/champagne_limousines_italic-webfont.woff') format('woff');
    font-style: italic;
}

@font-face {
    font-family: 'ChampagneLimousines';
    src: url('/fonts/champagne_limousines_bold-webfont.woff') format('woff');
    font-weight: bold;
}

* {
    word-wrap: break-word;
    box-sizing: border-box;
}

body .content {
    font-family: 'ChampagneLimousines', sans-serif;
    padding-top: 50px;
    color: black;
    font-size: 30px;
    min-width: 500px;
    min-height: 650px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0;
    padding-right: 0;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}
    
/* QR code generator */
#qrCode {
    margin: 15px;
}


nav.navbar {
    background-color: white;
    border: 1px solid #96908E;
    border-right: 0;
    border-left: 0px;
    min-height: 35px;
}

.navbar .navbar-nav > li.main > a {
    transition-duration: 0.5s;
}

.navbar .navbar-nav > li.main > a:hover {
    color: #DEA295;
    /*text-shadow: 0 0 2px #DEA295, 0 0 2px #DEA295;*/
    text-shadow: 0 0 1px #DEA295, 0 0 1px #DEA295,0 0 1px #DEA295,0 0 1px #DEA295,0 0 1px #DEA295,0 0 1px #DEA295,0 0 1px #DEA295,0 0 1px #DEA295,0 0 1px #DEA295;
    /*-webkit-text-stroke: 1px #DEA295;*/
    transform: scale(1.06);
}

.navbar .navbar-nav > li.main > a.selected {
    color: #DEA295; 
    text-shadow: 0 0 1px #DEA295, 0 0 1px #DEA295,0 0 1px #DEA295,0 0 1px #DEA295,0 0 1px #DEA295,0 0 1px #DEA295,0 0 1px #DEA295,0 0 1px #DEA295,0 0 1px #DEA295;
}

.navbar .navbar-nav > li > a,
.navbar .lang {
    color: black;
    line-height: 0px;
    letter-spacing: 1px;
}

/*.navbar .navbar-nav li.main:nth-child(4) {
    border-right: 1px solid black;
}*/

.navbar .navbar-nav li {
    border-left: 1px solid black;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: middle;
    padding-bottom: 6px;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-collapse[aria-expanded="true"] li {
    border: none !important;
}

.navbar-collapse.collapsing li {
    border: none !important;
}

li.lang:first-child {
    border-right: 1px solid black;
}

.navbar .lang > a {
    transition-duration: 0.5s;
}

.navbar .lang > a:hover {
    color: #dedee5;
}

.navbar .lang > a.selected {
    color: #dedee5;
}

.navbar .lang a:first-child {
    border-right: 1px solid black;
}

.navbar .lang a {
    font-size: 15px;
    font-weight: bold;
    color: black;
    padding: 15px 5px; 
    display: table-cell;
    width: 35px;
}

.navbar .lang a:hover, .navbar .lang a:active, .navbar .lang a:focus {
    text-decoration: none;
}

.navbar .lang {
    display: inline-block;
    float: right;
    margin-top: 7px;
}

.container {
    width: 100%;
    margin: 0;
}

.footer {
    background-color: white;
    min-height: 50px;
    margin-top: 20px;
    min-width: 500px;
}

.footer ul {
    text-align: center;
}



.footer ul li {
    display: inline-block;
    text-decoration: none;
    padding-right: 20px;
    border-radius: 3px;
}

.footer ul li .fab {
    color: black;
}

.footer ul li .fab:hover {
    cursor: pointer;
}

    

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
