@page
@model ContactModel

@inject IViewLocalizer Localizer;

@{
    ViewData["Title"] = "Contact";
}

@section Styles {
    <link rel="stylesheet" href="~/css/contact.css" />
}

<div>
    <p class="holder">@Localizer["MJ"]</p>
    <p class="contacts">
        <i class="fas fa-envelope-square fa-2x"></i>
        <a href="mailto:jorova.maria@gmail.com" class="mail">jorova.maria@gmail.com</a>
    </p>

    <p class="contacts">
        <i class="fab fa-whatsapp-square fa-2x"></i>
        +359 878 910 268
    </p>
</div>



