@page
@model IndexModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}

<div class="heading-section">
    <h1 class="heading">
        @Localizer["MariaJorova"]
    </h1>
</div>

<div class="wisdom">
    <p>
        @Localizer["WisdomFirstHalf"] 
    </p>
    <p class="second">
        @Localizer["WisdomSecondHalf"]
        <span>
            @Localizer["MassimoVignelli"]
        </span>
    </p>
</div>
