@page
@model IndexModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}


<div class="heading-section">
    <h1 class="heading">
        @Localizer["MariaJorova"]
    </h1>
</div>

<div class="wisdom">
    <p>
        Животът на един дизайнер
    </p>
    <p class="second">
        е живот на борба: борба с грозотата.
        <span>
            Massimo Vignelli
        </span>
    </p>
</div>
