@page
@model PortfolioModel

@{
    ViewData["Title"] = "Portfolio";
}

@section Styles {
    <link rel="stylesheet" href="~/css/navigation.css" />
    <link rel="stylesheet" href="~/css/portfolio.css" />
}

<div style="display:none;" id="video1">
    <video class="lg-video-object lg-html5" controls preload="none">
        <source src="videos/video1.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
</div>
<div style="display:none;" id="video2">
    <video class="lg-video-object lg-html5" controls preload="none">
        <source src="videos/video2.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
</div>

<!-- data-src should not be provided when you use html5 videos -->
<ul id="html5-videos">
    <li data-poster="video-poster1.jpg" data-sub-html="video caption1" data-html="#video1">
        <img src="img/thumb1.jpg" />
    </li>
    <li data-poster="video-poster2.jpg" data-sub-html="video caption2" data-html="#video2">
        <img src="img/thumb2.jpg" />
    </li>
</ul>

<script>
    $('#html5-videos').lightGallery(); 
</script>